<!-- Habilidades-->
<!--skill boostrap-->
<section class="habilidades fondo">
  <h2 class="titulo fondo">Habilidades</h2>
    
    <div class="progress  mb-3 fondo" *ngFor="let habilidad of habilidad" role="progressbar" aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="habilidad.porcentaje" >{{habilidad.categoria}} {{habilidad.porcentaje}}%</div>
    </div>
</section>

<!-- Botones Editar habilidades-->
<section id="editSkill" class="bg-dark" class="fondo">
  <div class="container text-center fondo">
    <div class="row">
      <div class="col">
      <!--Button trigger html-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#htmlModal">
          Editar HTML
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button trigger CSS-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#cssModal">
          Editar CSS
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button JAVASCRIPT-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#jsModal">
          Editar JS
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button JAVA-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#javaSkModal">
          Editar JAVA skill
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button GIT Y GITHUB-->
        <button type="button" class="btn btn-dark" 
         data-bs-toggle="modal" data-bs-target="#gitSkModal">
          Editar GIT
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button COMUNICACION-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#comunModal">
          Editar Comunicación
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      <!--Button SOCIALIZACION-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#socialModal">
          Editar Socialización
        </button>
        <app-edit-habilidades></app-edit-habilidades>
      </div>
    </div>
  </div>
</section>
