/*Estilo Barra habilidades*/
.barra{
   box-sizing: border-box;
   display: flex;
    width: 100%;
    height: 1.5rem;
    border-radius: 3rem;
    border-color:#d466ef ;
    box-shadow: 3px 3px rgb(104, 104, 147, 0.6);
    margin:auto;
    padding: 0;
    color: rgb(5, 33, 57);
    font-weight: bold;
    background-color: aliceblue;
    justify-items: center;
    align-items: center;
    
  }
  .html{
    background-color:  rgb(123, 244, 244);
    animation: fillhtml 5s forwards;
  }
  @keyframes fillhtml{
    0% {width: 0%;}
    100% {width: 80%;}
  }
  .css{
    background-color:rgb(92, 244, 244);
    animation: fillcss 5s forwards;
  }
  @keyframes fillcss{
    0% {width: 0%;}
    100% {width: 75%;}
  }
  .js{
    background-color:rgb(63, 214, 248) ;
    animation: filljs 5s forwards;
  }
  @keyframes filljs{
    0% {width: 0%;}
    100% {width: 50%;}
  }
  .java{
    background-color: rgb(1,205, 250);
    animation: filljava 5s forwards;
  }
  @keyframes filljava{
    0% {width: 0%;}
    100% {width: 70%;}
  }
  .git{
    background-color: rgb(1,205, 250);
    animation: fillgit 5s forwards;
  }
  @keyframes fillgit{
    0% {width: 0%;}
    100% {width: 75%;}
  }
  .com{
    background-color: rgb(30, 207, 247);
    animation: fillcom 5s forwards;
  }
  @keyframes fillcom{
    0% {width: 0%;}
    100% {width: 90%;}
  }
  .soc{
    background-color: rgb(3, 193, 236);
    animation: fillsoc 5s forwards;
  }
  @keyframes fillsoc{
    0% {width: 0%;}
    100% {width: 90%;}
  }
  .skill:hover {
    animation: forwards 5s ease;
  }
  #habil{
    margin: 0%;
}
p{
    text-align: justify;
}

#skillSoft{
  display:inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 97vw;
}
.row{
  padding: 3rem;
  
}