<!-- Habilidades-->
<section class="habilidades">
    <!--<div class=""-->
  <div class="container-flex fondo">
    <div class="row">
        <h2 class="titulo" id="habil">Habilidades</h2><br>
      <div class="col-sm-12">
        <p>HTML</p>
      </div>
        <div  class="barra">
          <div class="skill html">80%</div>
        </div>

      <div class="col-sm-12">
        <br><p>CSS</p>
      </div>
        <div  class="barra">
          <div class="skill css">75%</div>
        </div>
      
      <div class="col-sm-12">
        <br><p>JAVASCRIPT</p>
      </div>
        <div  class="barra">
          <div class="skill js">50%</div>
        </div>

      <div class="col-sm-12">
        <br><p>JAVA</p>
      </div>
        <div  class="barra">
          <div class="skill java">70%</div>
        </div>

      <div class="col-sm-12">
        <br><p>GIT Y GITHUB</p>
      </div>
        <div  class="barra">
          <div class="skill git">75%</div>
        </div>

      <div class="col-sm-12">
        <br> <p>COMUNICACIÓN</p>
      </div>
        <div  class="barra">
          <div class="skill com">90%</div>
        </div>
      <div class="col-sm-12">
        <br><p>SOCIALIZACIÓN</p>
      </div>
        <div  class="barra">
          <div class="skill soc">90%</div>
        </div>
    </div>
  </div>
</section>

<!-- Botones Editar habilidades-->
<section id="editSkill" class="bg-dark">
  <div class="container text-center">
    <div class="row">
      <div class="col">
      <!--Button trigger html-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#htmlModal">
          Editar HTML
        </button>
      <!--Button trigger CSS-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#cssModal">
          Editar CSS
        </button>
      <!--Button JAVASCRIPT-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#jsModal">
          Editar JS
        </button>
      <!--Button JAVA-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#javaSkModal">
          Editar JAVA skill
        </button>
      <!--Button GIT Y GITHUB-->
        <button type="button" class="btn btn-dark" 
         data-bs-toggle="modal" data-bs-target="#gitSkModal">
          Editar GIT
        </button>
      <!--Button COMUNICACION-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#comunModal">
          Editar Comunicación
        </button>
      <!--Button SOCIALIZACION-->
        <button type="button" class="btn btn-dark" 
          data-bs-toggle="modal" data-bs-target="#socialModal">
          Editar Socialización
        </button>
      </div>
    </div>
  </div>
</section>
