<!--Modal Editar Redes-->
        <!--Modal Editar LinkedIn-->
        <div class="modal fade" id="linkeModal" tabindex="-1" 
        aria-labelledby="linkeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
         <h1 class="modal-title fs-5" id="linkeModalLabel">Editar LinkedIn</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="linkRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="linkRedes"
               name="linkRedes">
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar GitHub-->
 <div class="modal fade" id="gitPerfilModal" tabindex="-1" 
   aria-labelledby="gitPerfilModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="gitPerfilModalLabel">Editar GitHub</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="gitPerfilRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="gitPerfilRedes" name="gitPerfilRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Discord-->
 <div class="modal fade" id="discordModal" tabindex="-1" 
       aria-labelledby="discordModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="discordModalLabel">Editar Discord</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="discordRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="discordRedes" name="discordRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

      <!--Modal Editar Telegram-->
 <div class="modal fade" id="telegramModal" tabindex="-1" aria-labelledby="telegramModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="telegramModalLabel">Editar Telegram</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="telegramRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="telegramRedes" name="telegramRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
 
