<!--Modal Editar Proyectos-->
        <!--Modal editar Juego-->
      <form>
        <div class="modal fade" id="juegoModal" tabindex="-1" aria-labelledby="juegoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="juegoModalLabel">Editar Juego</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="imgJuego" class="form-label">Editar imagen Juego</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgJuego" name="imgJuego" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="juegoTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="juegoFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
         
                  <!--Modal Editar Calendario-->
        <form>
          <div class="modal fade" id="calendarioModal" tabindex="-1" aria-labelledby="calendarioModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="calendarioModalLabel">Editar Calendario</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="imgCalendario" class="form-label">Editar imagen calendario</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgCalendario" name="imgCalendario" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="calendarioTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="calendarioFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--Modal Editar Cajero-->
        <form>
          <div class="modal fade" id="cajeroModal" tabindex="-1" aria-labelledby="cajeroModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="cajeroModalLabel">Editar Cajero</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="imgCajero" class="form-label">Editar imagen certificado</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgCajero"name="imgCajero" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="cajeroTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="cajeroFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
         
         
