#educ{
    margin: 0%;
}
#fotoEd{
    width: 30vw;
    margin: 0;
    }
#eduk{
    margin:auto;
    float: left;
    flex-wrap: wrap;
}
.text{
     padding-top: 10rem;
   
}
p{
    text-align: justify;
}
/*row{
   display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}*/
#formacion{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
