 <!--Educación -->   
 <section class="formacion">
    <div class="container-flex fondo">
      <div class="row">
        <h2 class="titulo" id="educ">Educación</h2>
         <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/tituloDocente.jpeg"class="img-fluid img-thumbnail" alt="Foto Título docente"><br>
            <h5 class="fuente2">Maestra especializada en Educación Primaria</h5>
            <p>Instituto de Formación Docente N°45<br>Nivel Terciario-Buenos Aires<br>
               Inicio: 26/02/1990  Fin: 30/11/1993
            </p>
          </div>
     
          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/postitulEductic.jpeg"class="img-fluid img-thumbnail" alt="Certificado de postítulo"><br>
            <h5 class="fuente2">Especialista Docente de Nivel Superior en Educación y TIC</h5>
            <p>Instituto Superior "Dr. Carlos María Carena" Mina Clavero, Córdoba.<br>
               Fecha: 26/05/2015 Fin: 02/06/2017</p>
          </div>
      
          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/argentinaProg.jpg" class="img-fluid img-thumbnail" alt="Certificado Argentina Programa primera etapa"><br>
            <h5 class="fuente2" >Certificado: "#Sé Programar"</h5>
            <p>Plan Argentina Programa <br>
              Finalizado: 11/06/2022
            </p>
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/cursoEdC.jpg"class="img-fluid img-thumbnail" alt=" Foto del certificado introduccion lenguaje C"><br>
            <h5 class="fuente2">Curso: "Introducción a la programación: Lenguaje C y C++"</h5>
            <p>Eddis Educativa<br> Finalizado: 23/12/2022</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/htmlcss1.png"class="img-fluid img-thumbnail" alt="Foto del Certificado TodoCode en HTML y CSS"><br>
            <h5 class="fuente2">Curso:"HTML y CSS desde cero"</h5>
            <p>TodoCode Academy <br> Finalizado: 15/02/2023</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/títuloFa.jpg"class="img-fluid img-thumbnail" alt="Foto del Certificado"/><br>
            <h5 class="fuente2">Argentina Programa: "Yo programo"</h5>
            <p>Plan Argentina Programa <br> Finalizado: en curso</p>
          </div>
  
          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/gitHub.jpg"class="img-fluid img-thumbnail" alt="Foto certificado del curso de git y github"><br>
            <h5 class="fuente2">Curso: "Git y GitHub"</h5>
            <p>TodoCode Academy <br>Finalizado: 05/03/2023</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/baseDatos.jpg"class="img-fluid img-thumbnail" alt="Foto certificado del curso de Base de Datos"><br>
            <h5 class="fuente2">Curso:"Base de Datos Relacionales(con MySQL)"</h5>
            <p>TodoCode Academy <br>Finalizado: 03/03/2023</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <img src="./../../../assets/asset/img/javaPricipcertif.jpg"class="img-fluid img-thumbnail" alt="Foto certificado del curso de java nivel principiante"><br>
            <h5 class="fuente2">Curso: "Java para Principiantes".</h5>
            <p>TodoCode Academy <br> Finalizado: 25/03/2023</p>
          </div>    
      </div>
    </div>
  </section>

   <!-- Botones editar Educación-->
   <section id="editEducacion" class="bg-dark">
    <div class="container text-center">
      <div class="row">
        <div class="col">
        <!--Button trigger titulo docente-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#tituloModal">
              Editar Título 
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger TICs-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#ticsModal">
            Editar TICs
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger Se Programar-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#seProgModal">
            Editar Sé Programar 
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger Curso C-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#cursoCModal">
            Editar Curso C 
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger HTML y CSS-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#htmlCssModal">
              Editar HTML y CSS
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger Yo Programo-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#yoProgModal">
             Editar Yo Programo 
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger GIT-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#gitModal">
            Editar git
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger base datos-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#baseDatosModal">
            Editar BD
          </button>
        <!--Button trigger JAVA-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#javaModal">
            Editar JAVA
          </button>
          <app-edit-educacion></app-edit-educacion>
        </div>
      </div>
    </div>
  </section>
