 <!--Educación -->   
 <section class="formacion">
      <h2 class="titulo fondo espacio">Educación</h2>
    <div class="container-flex fondo" id="formacion">
      <div class="row fotoEd"  *ngFor="let educacion of educacion">
       <div class="col-sm-12">
            <img class="img-fluid img-thumbnail eduk"  [src]="educacion.imgCertif" alt="Foto Título docente">
          <div class="text">
            <h5 class="fuente2">{{educacion.titulo}}</h5>
            <p>{{educacion.instiucion}}{{educacion.modalidad}}</p>
              <p> Inicio:{{educacion.inicio}}  Fin: {{educacion.fin}}
            </p>
          </div>
        </div>   
      </div>
    </div>
  </section>

   <!-- Botones editar Educación-->
   <section id="editEducacion" class="bg-dark">
    <div class="container">
      <div class="row" >
        <div class="col">
        <!--Button trigger titulo docente-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#formacionId">
              Editar Educación:
          </button>
          <app-edit-educacion></app-edit-educacion>
        <!--Button trigger TICs
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#ticsModal" id="2">
            Editar TICs
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger Se Programar
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#seProgModal">
            Editar Sé Programar 
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger Curso C
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#cursoCModal">
            Editar Curso C 
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger HTML y CSS
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#htmlCssModal">
              Editar HTML y CSS
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger Yo Programo
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#yoProgModal">
             Editar Yo Programo 
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger GIT
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#gitModal">
            Editar git
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        <!--Button trigger base datos
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#baseDatosModal">
            Editar BD
          </button>-->
        <!--Button trigger JAVA
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#javaModal">
            Editar JAVA
          </button>
          <app-edit-educacion></app-edit-educacion>-->
        </div>
      </div>
    </div>
  </section>
