
.fotoEd{
    margin: 0.2rem;
    }
.eduk{
    width: 20vw;
    margin:0;
    float: left;
   
}
.text{
     padding: 0.3rem;
   
}
p{
    text-align:center;
}

.container-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

