
.fotoEd{
    margin: 1rem;
    }
.eduk{
    width: 30vw;
    margin:auto;
    margin: 0.5rem;
   
}
.text{
     padding: 1rem;
   
}
p{
    text-align:center;
}

.container-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

