  <!--Proyectos-->
  <section class="proyectos">
    <div class="container-flex fondo">
      <div class="row">
        <h2 class="titulo" id="proyec">Proyectos</h2>
        <div class="col-sm-12 col-md-4">
          <img src="./../../../assets/asset/img/pie_pap_tij.png"class="img-fluid img-thumbnail" alt="Foto del codigo del juego"/><br>
          <h3 class="fuente2">Juego: Piedra, papel o tijera.<br> Lenguaje C</h3>
          <p>Proyecto de práctica realizado en lenguaje C, donde el usuario juega con
            la máquina, que en forma aleatoria elige un número 
            que representa un elemento del juego.
            Al finalizar se muestra por pantalla quién ganó.
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <img src="./../../../assets/asset/img/calendario_unido.jpg"class="img-fluid img-thumbnail" alt="Foto del codigo del calendario"/><br>
          <h3 class="fuente2">"Calendario"<br>Lenguaje C++</h3><br>
          <p>Proyecto de práctica, la propuesta es que el usuario conozca 
            el día de la semana en que nació, para eso debe ingresar su fecha de nacimiento
            y por pantalla, el programa muestra el calendario del año ingresado.
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <img src="./../../../assets/asset/img/cajero_c.png"class="img-fluid img-thumbnail" alt="Foto del codigo cajero automatico"/><br>
          <h3 class="fuente2">Cajero automático<br>Lenguaje C++</h3><br>
          <p>
            Proyecto de práctica, en el cuál el programa interactuando 
            con el usuario, brinda información sobre diversas operaciones que se van realizando.  </p>
           <!--Menú Ir a inicio-->
            <div class="dropdown" id="menu">
              <button class="btn btn-color dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menú
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#exp">Experiencia</a></li>
                <li><a class="dropdown-item" href="#educ">Educación</a></li>
                <li><a class="dropdown-item" href="#habil">Habilidades</a></li>
                <li><a class="dropdown-item" href="#inicio">inicio</a></li>
              </ul>
            </div>
         
        </div>
      </div>
    </div>
  </section>

  <!--  Botones editar Proyectos-->
  <section id="editProyectos" class="bg-dark">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <!--Button trigger Juego-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#juegoModal">
            Editar Juego
          </button>
          <app-edit-proyecto></app-edit-proyecto>
          <!--Button trigger Calendario-->
          <button type="button" class="btn btn-dark" 
           data-bs-toggle="modal" data-bs-target="#calendarioModal">
           Editar Calendario 
          </button>
          <app-edit-proyecto></app-edit-proyecto>
          <!--Button trigger Cajero-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#cajeroModal">
            Editar Cajero 
          </button>
          <app-edit-proyecto></app-edit-proyecto>
        </div>
      </div>
    </div>
  </section>