#proyec{
    margin: 0%;
}
#fotoProy{
    width: 50vw;
    margin: 0;
    }
#photoProy{
    margin:auto;
    padding: 1rem;
}
.text{
     padding-top: 2rem;
     text-align: center;
   
}
p{
    text-align: justify;
}
.container-flex{
    flex-direction:row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}