 <!--Modal Editar Habilidades-->
         <!--SKILL HTML-->
         
         <div class="modal fade" id="htmlModal" tabindex="-1" aria-labelledby="htmlModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="htmlModalLabel">Editar HTML</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="htmlSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="htmlSkillModal" name="htmlSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        
         
                  <!--SKILL CSS-->
        <form>
          <div class="modal fade" id="cssModal" tabindex="-1" aria-labelledby="cssModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="cssModalLabel">Editar CSS</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="cssSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="cssSkillModal" name="cssSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--SKILL JS-->
        <form>
          <div class="modal fade" id="jsModal" tabindex="-1" aria-labelledby="jsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="jsModalLabel">Editar JAVASCRIPT</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="jsSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="jsSkillModal" name="jsSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--SKILL JAVA-->
        <form>
          <div class="modal fade" id="javaSkModal" tabindex="-1" aria-labelledby="javaSkModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="javaSkModalLabel">Editar JAVA</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 
                    <div class="mb-3">
                      <label for="javaSkSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="javaSkSkillModal" name="javaSkSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--SKILL GIT Y GITHUB-->
        <form>
          <div class="modal fade" id="gitSkModal" tabindex="-1" aria-labelledby="gitSkModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="gitSkModalLabel">Editar GIT Y GITHUB</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 
                    <div class="mb-3">
                      <label for="gitSkSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="gitSkSkillModal" name="gitSkSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--SKILL Comunicación-->
        <form>
          <div class="modal fade" id="comunModal" tabindex="-1" aria-labelledby="comunModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="comunModalLabel">Editar Comunicación</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                 
                    <div class="mb-3">
                      <label for="comunSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="comunSkillModal" name="comunSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
                  <!--SKILL Socialización-->
        <form>
          <div class="modal fade" id="socialModal" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="socialModalLabel">Editar Socialización</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                    <div class="mb-3">
                      <label for="socialSkillModal" class="form-label">Editar</label>
                      <input type="text" placeholder="ingrese nuevos datos" id="socialSkillModal" name="socialSkillModal" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
