<!--Banner html-->
<section class="banner">
    <div class="card mat-card fondo" id="first card">
      <div id="profile-background">
        <img src="./../../../assets/assets/img/bannersit.png" class="img-fluid" alt="Mano cosmica"/>
      </div>
    <!--Foto de Perfil-->        
      <div class="row">
        <div class="col-sm-12 centrado">
          <img src="./../../../assets/assets/img/fotoPerfilst.jpg" 
            class="img-fluid" id="perfil" alt="Foto del perfil">
          <p class="datos">Stella Maris Salgado <br>Full Stack Developer junior</p>
        </div>
        <div class="col-sm-12">
              <h1 class="fuente" >Acerca de...</h1> 
                <p> Me considero una persona proactiva, organizada
                  y responsable, con buenas relaciones interpersonales, teniendo 
                  a lo largo de mi carrera experiencia de 
                  trabajo en equipo, tanto en forma presencial como remota.
                  En mi formación continua en el área del desarrollo web, busco experiencia
                  y ampliar mis conocimientos.<br>Te invito a recorrer mi portfolio, haciendo scroll
                  o dirigiéndote a la sección que te interese, haciendo clic en el menú.
                </p>
        </div>
    <!--Menú recorrer portfolio-->
            <div class="dropdown" id="menu">
              <button class="btn btn-color dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menú
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#exp">Experiencia</a></li>
                <li><a class="dropdown-item" href="#educ">Educación</a></li>
                <li><a class="dropdown-item" href="#habil">Habilidades</a></li>
                <li><a class="dropdown-item" href="#proyec">Proyectos</a></li>
              </ul>
            </div>
        </div>
      </div>
  </section>

