<!--Modal Editar Experiencia-->
         <!--Modal Editar Escuela-->
         <div class="modal fade" id="escuelaModal" tabindex="-1" aria-labelledby="escuelaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="escuelaModalLabel">Editar Escuela</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="imgEscuela" class="form-label">Editar Foto Perfil</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgEscuela" name="imgEscuela" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="escuelaTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="escuelaFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
         
                  <!--Modal Editar Congreso-->
          <div class="modal fade" id="congresoModal" tabindex="-1" aria-labelledby="congresoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="congresoModalLabel">Editar Escuela</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="imgCongreso" class="form-label">Editar Foto Congreso</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgCongreso" name="imgCongreso" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="congresoTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="congresoFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
         
                  <!--Modal Editar Feria-->
          <div class="modal fade" id="feriaModal" tabindex="-1" aria-labelledby="feriaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="feriaModalLabel">Editar Feria de Ciencias</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="imgFeria" class="form-label">Editar Foto Feria</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgFeria" name="imgFeria">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="feriaTextarea1" class="form-label">Escribir texto</label>
                      <textarea class="form-control" id="feriaFormControlTextarea1" rows="3"></textarea>
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
