<!--Modal Editar Educacion-->
<div class="modal fade" id="tituloModal" tabindex="-1" aria-labelledby="tituloModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModalLabel">Editar Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="experienciaForm">
          <div class="mb-3">
            <select class="form-select"id="experienciaId">
              <option selected>Seleccionar experiencia</option>
              <option value="1">ID1:Título docente</option>
              <option value="2">ID2: Tic docente</option>
              <option value="3">ID3: Sé programar</option>
              <option value="4">ID4: C y C++</option>
              <option value="5">ID5: Html y css </option>
              <option value="6">ID6: Git y GitHub</option>
              <option value="7">ID7: BD</option>
              <option value="8">ID8: Java</option>
              
            </select>
          </div>
          <div class="mb-3" id="experienciaId">
            <label for="url" class="form-label">Editar Título</label>
            <input type="url" placeholder="inserte url de imagen" id="imgTitulo" formControlName="url" >
            <input class="btn btn-dark" type="reset" value="Eliminar">
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Escribir texto</label>
            <input type="text" placeholder="inserte texto" formControlName="text">
            <input class="btn btn-dark" type="reset" value="Eliminar">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Enviar</button>
      </div>
      </div>



         <!--Modal Editar Titulo
         
         <div class="modal fade" id="tituloModal" tabindex="-1" aria-labelledby="tituloModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="tituloModalLabel">Editar Título</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="url1" class="form-label">Editar Título</label>
                      <input type="url1" placeholder="inserte url de imagen" id="imgTitulo" formControlName="url1" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="text1" class="form-label">Escribir texto</label>
                      <input type="text1" placeholder="inserte texto" formControlName="text1">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Enviar</button>
                  </div>
             
            </div>
              </div>
            </div>
          </div>-->
        
                    <!--Modal Editar TICs
       
          <div class="modal fade" id="ticsModal" tabindex="-1" aria-labelledby="ticsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="tituloModalLabel">Editar TICs</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgTics" class="form-label">Editar Título</label>
                      <input type="url" placeholder="inserte url de imagen" id="imgTics" formControlName="url2" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="ticsTextarea1" class="form-label">Escribir texto</label>
                      <input type="text" formControlName="text2">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              
              </div>
            </div>
          </div>-->
       
                  <!--Modal Editar Se Programar
        
          <div class="modal fade" id="seProgModal" tabindex="-1" aria-labelledby="seProgModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="seProgModalLabel">Editar Se Programar</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="url3" class="form-label">Editar imagen certificado</label>
                      <input type="url" placeholder="inserte url de imagen" formControlName="url3" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="text3" class="form-label">Escribir texto</label>
                      <input type="text" formControlName="text3">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  </form>
                  
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
             
              </div>
            
            </div>
          </div>-->
        
                  <!--Modal Editar curso C
        
          <div class="modal fade" id="cursoCModal" tabindex="-1" aria-labelledby="cursoCModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="cursoCModalLabel">Editar Curso C</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgCursoC" class="form-label">Editar imagen certificado</label>
                      <input type="url4" placeholder="inserte url de imagen" id="imgCursoC" name="imgCursoC" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="cursoCTextarea1" class="form-label">Escribir texto</label>
                      <input type="text4">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
        
                  <!--Modal Editar HTML y CSS
       
          <div class="modal fade" id="htmlCssModal" tabindex="-1" aria-labelledby="htmlCssModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="htmlCssModalLabel">Editar Curso HTML y CSS</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgHtmlCss" class="form-label">Editar imagen certificado</label>
                      <input type="url5" placeholder="inserte url de imagen" id="imgHtmlCss" name="imgHtmlCss" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="htmlCssTextarea1" class="form-label">Escribir texto</label>
                      <input type="text5">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                 
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
        
                  <!--Modal Editar Yo Programo
      
          <div class="modal fade" id="yoProgModal" tabindex="-1" aria-labelledby="yoProgModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="yoProgModalLabel">Editar Curso Yo Programo</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgYoProg" class="form-label">Editar imagen certificado</label>
                      <input type="url6" placeholder="inserte url de imagen" id="imgYoProg" name="imgYoProg" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="yoProgTextarea1" class="form-label">Escribir texto</label>
                      <input type="text6">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
               
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
        
                  <!--Modal Editar Curso GIT
        
          <div class="modal fade" id="gitModal" tabindex="-1" aria-labelledby="gitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="gitModalLabel">Editar Curso Git y GitHub</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgGit" class="form-label">Editar imagen certificado</label>
                      <input type="url7" placeholder="inserte url de imagen" id="imgGit" name="imgGit" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="gitTextarea1" class="form-label">Escribir texto</label>
                      <input type="text7">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                 
               
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
        
                  <!--Modal Editar Curso Base de Datos
        
          <div class="modal fade" id="baseDatosModal" tabindex="-1" aria-labelledby="baseDatosModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="baseDatosModalLabel">Editar Curso de Base de Datos</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgBaseDatos" class="form-label">Editar imagen certificado</label>
                      <input type="url8" placeholder="inserte url de imagen" id="imgBaseDatos" name="imgBaseDatos" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="baseDatosTextarea1" class="form-label">Escribir texto</label>
                      <input type="text8">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
       
                  <!--Modal Editar java
       
          <div class="modal fade" id="javaModal" tabindex="-1" aria-labelledby="javaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="javaModalLabel">Editar Curso de Java</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3">
                      <label for="imgJava" class="form-label">Editar imagen certificado</label>
                      <input type="url9" placeholder="inserte url de imagen" id="imgJava" name="imgJava" >
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                    <div class="mb-3">
                      <label for="javaTextarea1" class="form-label">Escribir texto</label>
                      <input type="text9">
                      <input class="btn btn-dark" type="reset" value="Eliminar">
                    </div>
                  
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </form>
              </div>
            </div>
          </div>-->
        
