
#foto{
    width: 50vw;
    margin: 0;
    }
#photo{
    margin:auto;
}
.text{
     padding-top: 2rem;
     text-align: center;
   
}
p{
    text-align: center;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}


