 <!--Experiencia-->   
 <section class="experiencia" >
  <h2 class="titulo fondo espacio">Experiencia</h2>
 <div class="container-flex fondo">
   <div class="row" id="foto" *ngFor="let experiencia of experiencia">
        <div class="col-sm-12" >
          <img class="img-fluid img-thumbnail" id="photo" [src]="experiencia.img"  alt="Foto icono escuela">
          <div class="text">
          <h5 class="fuente2">{{experiencia.tituloTit}}</h5>
          <p >{{experiencia.descripcion}}<br> 
          Inicio: {{experiencia.inicio}} Fin: {{experiencia.fin}}</p>
        </div>
        </div>
       </div>
    </div>
  </section>

   <!-- Botones editar Experiencia-->
   <section id="editExperiencia" class="bg-dark">
    <div class="container text-center">
      <div class="row">
        <div class="col">
        <!--Button trigger Escuela-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#escuelaModal">
              Editar Escuela 
          </button>
          <app-edit-experiencia></app-edit-experiencia>
        <!--Button trigger Congreso -->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#congresoModal">
             Editar Congreso 
          </button>
          <app-edit-experiencia></app-edit-experiencia>
        <!--Button trigger feria de ciencias-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#feriaModal">
             Editar feria 
          </button>
          <app-edit-experiencia></app-edit-experiencia>
        </div>
      </div>
    </div>
  </section>
