 <!--Experiencia-->   
 <section class="experiencia">
    <div class="container-flex fondo">
      <div class="row">
          <h2 class="titulo" id="exp">Experiencia</h2>
        <div class="col-sm-12 col-md-4" >
          <img src="./../../../assets/assets/img/escuelaGe.jpg"class="img-fluid img-thumbnail" alt="Foto icono escuela">
          <br><h5 class="fuente2">Docente de Nivel Primario</h5>
          <p>Me desempeño como docente, desde hace 14 años,
           en la Escuela General San Martín, San Javier, en la provincia de Córdoba.<br> 
          Desde: 3/08/2009 </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <img src="./../../../assets/assets/img/congresoEducExpo.jpg"class="img-fluid img-thumbnail" alt="Foto del Certificado Congreso de Educación">
          <br><h5 class="fuente2">Congreso Provincial de Ciencias y Tecnologías</h5>
          <p>Presenté como expositora el taller "Ajedrez en la escuela"<br>
           Fecha: 18/09/2015</p>
        </div> 
        <div class="col-sm-12 col-md-4">
          <img src="./../../../assets/assets/img/feriaDeCiencias3.jpg"class="img-fluid img-thumbnail" alt="Certificados de participación en feria de ciencias">
          <br><h5 class="fuente2">Feria de Ciencias y Tecnología</h5>
          <p>Instancia zonal y Provincial, realizadas de manera virtual,
            utilizando variados recursos y herramientas
             tecnológicas, para la presentación del proyecto<br>
             Fecha: 17/11/2021
          </p>
        </div>
      </div>
    </div>
  </section>

   <!-- Botones editar Experiencia-->
   <section id="editExperiencia" class="bg-dark">
    <div class="container text-center">
      <div class="row">
        <div class="col">
        <!--Button trigger Escuela-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#escuelaModal">
              Editar Escuela 
          </button>
        <!--Button trigger Congreso -->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#congresoModal">
             Editar Congreso 
          </button>
        <!--Button trigger feria de ciencias-->
          <button type="button" class="btn btn-dark" 
            data-bs-toggle="modal" data-bs-target="#feriaModal">
             Editar feria 
          </button>
        </div>
      </div>
    </div>
  </section>
