<!--MODALES-->
        <!--Modal Editar Redes-->
        <!--Modal Editar LinkedIn-->
        <div class="modal fade" id="linkeModal" tabindex="-1" 
        aria-labelledby="linkeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
         <h1 class="modal-title fs-5" id="linkeModalLabel">Editar LinkedIn</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="linkRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="linkRedes"
               name="linkRedes">
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar GitHub-->
 <div class="modal fade" id="gitPerfilModal" tabindex="-1" 
   aria-labelledby="gitPerfilModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="gitPerfilModalLabel">Editar GitHub</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="gitPerfilRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="gitPerfilRedes" name="gitPerfilRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Discord-->
 <div class="modal fade" id="discordModal" tabindex="-1" 
       aria-labelledby="discordModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="discordModalLabel">Editar Discord</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="discordRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="discordRedes" name="discordRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

      <!--Modal Editar Telegram-->
 <div class="modal fade" id="telegramModal" tabindex="-1" aria-labelledby="telegramModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="telegramModalLabel">Editar Telegram</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="telegramRedes" class="form-label">Editar</label>
             <input type="url" placeholder="inserte url nueva" id="telegramRedes" name="telegramRedes" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Banner-->
 <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="bannerModalLabel">Editar</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgBanner" class="form-label">Editar imagen</label>
             <input type="url" placeholder="inserte url de imagen" id="imgBanner" name="imgBanner" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

       <!--Modal Editar img perfil-->
 <div class="modal fade" id="imgPerfilModal" tabindex="-1" aria-labelledby="imgPerfilModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="imgPerfilModalLabel">Editar Foto Perfil</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgPerfil" class="form-label">Editar Foto Perfil</label>
             <input type="url" placeholder="inserte url de imagen" id="imgPerfil" name="imgPerfil" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

     <!-- Modal Editar texto acerca de-->
 <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="aboutModalLabel">Editar Acerca de</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="aboutTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="aboutFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

       <!--Modal Editar Experiencia-->
         <!--Modal Editar Escuela-->
 <div class="modal fade" id="escuelaModal" tabindex="-1" aria-labelledby="escuelaModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="escuelaModalLabel">Editar Escuela</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgEscuela" class="form-label">Editar Foto Perfil</label>
             <input type="url" placeholder="inserte url de imagen" id="imgEscuela" name="imgEscuela" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="escuelaTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="escuelaFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

         <!--Modal Editar Congreso-->
 <div class="modal fade" id="congresoModal" tabindex="-1" aria-labelledby="congresoModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="congresoModalLabel">Editar Escuela</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgCongreso" class="form-label">Editar Foto Congreso</label>
             <input type="url" placeholder="inserte url de imagen" id="imgCongreso" name="imgCongreso" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="congresoTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="congresoFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

         <!--Modal Editar Feria-->
 <div class="modal fade" id="feriaModal" tabindex="-1" aria-labelledby="feriaModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="feriaModalLabel">Editar Feria de Ciencias</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgFeria" class="form-label">Editar Foto Feria</label>
             <input type="url" placeholder="inserte url de imagen" id="imgFeria" name="imgFeria">
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="feriaTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="feriaFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Educacion-->
         <!--Modal Editar Titulo-->
 <div class="modal fade" id="tituloModal" tabindex="-1" aria-labelledby="tituloModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="tituloModalLabel">Editar Título</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgTitulo" class="form-label">Editar Título</label>
             <input type="url" placeholder="inserte url de imagen" id="imgTitulo" name="imgTitulo" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="tituloTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="tituloFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
           <!--Modal Editar TICs-->
 <div class="modal fade" id="ticsModal" tabindex="-1" aria-labelledby="ticsModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="tituloModalLabel">Editar TICs</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgTics" class="form-label">Editar Título</label>
             <input type="url" placeholder="inserte url de imagen" id="imgTics" name="imgTics" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="ticsTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="ticsFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar Se Programar-->
 <div class="modal fade" id="seProgModal" tabindex="-1" aria-labelledby="seProgModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="seProgModalLabel">Editar Se Programar</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgSeProg" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgSeProg" name="imgSeProg" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="seProgTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="seProgFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar curso C-->
 <div class="modal fade" id="cursoCModal" tabindex="-1" aria-labelledby="cursoCModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="cursoCModalLabel">Editar Curso C</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgCursoC" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgCursoC" name="imgCursoC" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="cursoCTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="cursoCFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar HTML y CSS-->
 <div class="modal fade" id="htmlCssModal" tabindex="-1" aria-labelledby="htmlCssModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="htmlCssModalLabel">Editar Curso HTML y CSS</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgHtmlCss" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgHtmlCss" name="imgHtmlCss" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="htmlCssTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="htmlCssFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar Yo Programo-->
 <div class="modal fade" id="yoProgModal" tabindex="-1" aria-labelledby="yoProgModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="yoProgModalLabel">Editar Curso Yo Programo</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgYoProg" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgYoProg" name="imgYoProg" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="yoProgTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="yoProgFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar Curso GIT-->
 <div class="modal fade" id="gitModal" tabindex="-1" aria-labelledby="gitModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="gitModalLabel">Editar Curso Git y GitHub</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgGit" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgGit" name="imgGit" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="gitTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="gitFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar Curso Base de Datos-->
 <div class="modal fade" id="baseDatosModal" tabindex="-1" aria-labelledby="baseDatosModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="baseDatosModalLabel">Editar Curso de Base de Datos</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgBaseDatos" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgBaseDatos" name="imgBaseDatos" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="baseDatosTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="baseDatosFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar java-->
 <div class="modal fade" id="javaModal" tabindex="-1" aria-labelledby="javaModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="javaModalLabel">Editar Curso de Java</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgJava" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgJava" name="imgJava" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="javaTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="javaFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Habilidades-->
         <!--SKILL HTML-->
 <div class="modal fade" id="htmlModal" tabindex="-1" aria-labelledby="htmlModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="htmlModalLabel">Editar HTML</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="htmlSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="htmlSkillModal" name="htmlSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

         <!--SKILL CSS-->
 <div class="modal fade" id="cssModal" tabindex="-1" aria-labelledby="cssModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="cssModalLabel">Editar CSS</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="cssSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="cssSkillModal" name="cssSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--SKILL JS-->
 <div class="modal fade" id="jsModal" tabindex="-1" aria-labelledby="jsModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="jsModalLabel">Editar JAVASCRIPT</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="jsSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="jsSkillModal" name="jsSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--SKILL JAVA-->
 <div class="modal fade" id="javaSkModal" tabindex="-1" aria-labelledby="javaSkModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="javaSkModalLabel">Editar JAVA</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="javaSkSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="javaSkSkillModal" name="javaSkSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--SKILL GIT Y GITHUB-->
 <div class="modal fade" id="gitSkModal" tabindex="-1" aria-labelledby="gitSkModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="gitSkModalLabel">Editar GIT Y GITHUB</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="gitSkSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="gitSkSkillModal" name="gitSkSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--SKILL Comunicación-->
 <div class="modal fade" id="comunModal" tabindex="-1" aria-labelledby="comunModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="comunModalLabel">Editar Comunicación</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="comunSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="comunSkillModal" name="comunSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--SKILL Socialización-->
 <div class="modal fade" id="socialModal" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="socialModalLabel">Editar Socialización</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="socialSkillModal" class="form-label">Editar</label>
             <input type="text" placeholder="ingrese nuevos datos" id="socialSkillModal" name="socialSkillModal" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
       <!--Modal Editar Proyectos-->
        <!--Modal editar Juego-->
 <div class="modal fade" id="juegoModal" tabindex="-1" aria-labelledby="juegoModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="juegoModalLabel">Editar Juego</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgJuego" class="form-label">Editar imagen Juego</label>
             <input type="url" placeholder="inserte url de imagen" id="imgJuego" name="imgJuego" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="juegoTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="juegoFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

         <!--Modal Editar Calendario-->
 <div class="modal fade" id="calendarioModal" tabindex="-1" aria-labelledby="calendarioModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="calendarioModalLabel">Editar Calendario</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgCalendario" class="form-label">Editar imagen calendario</label>
             <input type="url" placeholder="inserte url de imagen" id="imgCalendario" name="imgCalendario" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="calendarioTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="calendarioFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>
         <!--Modal Editar Cajero-->
 <div class="modal fade" id="cajeroModal" tabindex="-1" aria-labelledby="cajeroModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="cajeroModalLabel">Editar Cajero</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="imgCajero" class="form-label">Editar imagen certificado</label>
             <input type="url" placeholder="inserte url de imagen" id="imgCajero"name="imgCajero" >
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
           <div class="mb-3">
             <label for="cajeroTextarea1" class="form-label">Escribir texto</label>
             <textarea class="form-control" id="cajeroFormControlTextarea1" rows="3"></textarea>
             <input class="btn btn-dark" type="reset" value="Eliminar">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary">Enviar</button>
       </div>
     </div>
   </div>
 </div>

